/* General styles */
.header{
	background-color: #51009e;
	width: 100%;
	padding-bottom: 10px;
	color: #FFFFFF;
}
.homeLink{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 2em;
}
.skip{
	position: absolute;
	top: -1000px;
    left: -1000px;
    text-align: left;
    overflow: hidden;

	background-color: #eaf6ff;
	border-color: #000000;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;

	padding-left: 30px;
	padding-right: 30px;
	margin-top: 5px;
	margin-left: 5px;
}
.skip:active,
.skip:hover,
.skip:focus{
	right: 0;
	left: auto;
    top: 0;
    overflow: visible;
}
.menuBurger{
	float: right;
	height: 100%;
	background-color: #00000000;
	color: #FFFFFF;
	border-color: #00000000;
}
#menuBar{
	display: none;
}
.menuButton{
	border-color: #00000000;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #746A85;
	color: #FFFFFF;
}
.menuButton:hover{
	background-color: #635974;
}
.current{
	border-color: #000000;
}
body{
	background-color: #eaf6ff;
	font-family: "Arial Black", sans-serif;
}
a{
	color: #000000;
}
h2{
	margin-left: 50px;
}
/* Properly indent only the first level of all unordered lists */
:not(li) > ul > li{
	margin-left: 50px;
}
.footerLink{
	color: #FFFFFF;
}
.indent{
	text-indent: 50px;
}
.footer{
	background-color: #51009e;
	color: #FFFFFF;
	clear: both;
	float: bottom;
	width: 100%;
  	padding-top: 10px;
}
.desktop{
	display: none;
}

/* Home Styles */
.navButton{
	height: 225px;
	width: 225px;
	border-radius: 15px;
	text-align: center;
	padding: 20px;
	margin: 20px;
	color: #000000;
	font-size: 2em;
	float: left;

	border-color: #00000000;
	border-style: solid;
	border-width: 1px;
}
.navButton:hover{
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
}

/* Bio Styles */
.headshot{
	float: left;
	margin: 15px;
}
.goals{
	clear: left;
}

/* Experience Styles */
.left{
	float: left;
}
.gallery{
	clear: left;
}
.galleryBlock{
	float: left;
	text-align: center;
	max-width: 200px;
	margin: 15px
}
.galleryImg{
	width: 200px;
	height: 200px;
	border-radius: 15px;
}

/* Project Page Styles */
.slideshow{
	background-color: #A79DB8;
	height: 200px;
	width: 100%;
	margin-top: 5px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}
.leftButton{
	position: absolute;
	left: 2%;
	top: 40%;
	font-size: 3em;
	background-color: #00000000;
	border-color: #00000000;
}
.rightButton{
	position: absolute;
	right: 2%;
	top: 40%;
	font-size: 3em;
	background-color: #00000000;
	border-color: #00000000;
}
.slideImage{
	height: 190px;
	width: auto;
	top: 0;
	position: absolute;
	border-radius: 15px;
	padding: 5px;
}

.description{
	text-indent: 50px;
}
.accessLinks{
	width: 90%;
	border-color: #746A85;
	background-color: #A79DB8;
	border-width: 5px;
	border-style: solid;
	border-radius: 15px;
	text-align: center;
	margin: 10px;
}
.badge{
	width: 250px;
	height: auto;
}
.boxHeader{
	margin: 10px;
}
